<h1>Lista De Usuarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Correo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguridad_usuarios.each do |seguridad_usuario| %>
      <tr>
        <td><%= seguridad_usuario.username %></td>
        <td><%= seguridad_usuario.email %></td>
        <td><%= seguridad_usuario.nombres %></td>
        <td><%= seguridad_usuario.apellidos %></td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Ver">
            <%= link_to seguridad_usuario, class: 'btn btn-primary btn-xs' do %>
              <span class="glyphicon glyphicon-eye-open"></span>
            <% end %>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Editar">
            <%= link_to edit_seguridad_usuario_path(seguridad_usuario), class: 'btn btn-primary btn-xs' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
          </p>
        </td>
        <td>
          <p data-placement="top" data-toggle="tooltip" title="Eliminar">
            <%= link_to seguridad_usuario, class: 'btn btn-primary btn-xs', method: :delete, data: { confirm: 'Esta seguro?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_seguridad_usuario_path %>
