<% @entradas.each do |entrada| %>
	<div class="blog-post">
	  <h2 class="blog-post-title"><%= entrada.titulo.truncate(80) %></h2>
	  <p class="blog-post-meta">
	  	<%= entrada.fecha %> por <a href="#"><%= entrada.username %></a> |
	  	Categoria: <%= entrada.categoria %> |
	  	Comentarios: <%= entrada.cantidad_comentarios %>
	  </p>
		<p>
			<%= entrada.texto.truncate(250) %>
		</p>
		<%= link_to 'Ver mas...',  "ver_entrada/index/#{entrada.id}" %>
	</div>
<% end %>		