<% if notice.present? %>
  <%= content_tag :div, notice, class: 'alert alert-success' %>
<% end %>
<h1>Entrada: <%= @entrada.id %></h1>
<table class="table">
  <tbody>
    <tr>
      <td>Fecha</td>
      <td><%= @entrada.fecha %></td>
    </tr>
    <tr>
      <td>Titulo</td>
      <td><%= @entrada.titulo %></td>
    </tr>
    <tr>
      <td>Texto</td>
      <td><%= @entrada.texto %></td>
    </tr>
    <tr>
      <td>Visitas</td>
      <td><%= @entrada.visitas %></td>
    </tr>
    <tr>
      <td>Publicado</td>
      <td><%= @entrada.publicado ? 'Si' : 'No' %></td>
    </tr>
    <tr>
      <td>Usuario</td>
      <td><%= @entrada.seguridad_usuario.username %></td>
    </tr>
    <tr>
      <td>Categoria</td>
      <td><%= @entrada.category.nombre %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_entrada_path(@entrada) %> |
<%= link_to 'Atras', entradas_path %>
