<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/shared/header' %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Acerca</h4>
            <p>Aplicación desarrollada con el framework de desarrollo de
            aplicaciones web Raals</p>
          </div>
          <div class="sidebar-module">
            <h4>Categorias</h4>
            <ol class="list-unstyled">
              <% Category.all.each do |categoria| %>
                <li><%= link_to categoria.nombre, '#' %></li>
              <% end %>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <%= render 'layouts/shared/footer' %>

  </body>
</html>